h2,
h3 {
    text-decoration: underline;
    text-align: center;
}

p {
    font-weight: bold;
}

.Container-Data {
    background-color: #f00;
    display: inline-flex;
    padding: 10px;
    border-radius: 15px;
    margin: 15px;
}

.Personal-Data {
    Background-color: #3e3e3e;
    color: #f7f7f7;
    padding: 15px;
    border-right: solid 1px #ccc;
    width: 50%;
}

.Contact {
    Background-color: #3e3e3e;
    color: #f7f7f7;
    padding: 15px;
}

.Chart-Bars {
    background-color: #3e3e3e;
    width: 90%;
    color: #f7f7f7;
    padding: 15px;
}

.Chart-Bars,
.h2 {
    text-align: center;
}

.Chart-Bars .Columns {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.Chart-Bars .Columns .Scale-Y {
    width: 30px;
    color: #f7f7f7;
}

.Chart-Bars .Columns .Chart-Area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

.Scale-X {
    height: 30px;
    background-color: #3e3e3e;
    border-top: solid 1px azure;
    display: flex;
}

.Date {
    width: calc(100%/9);
    font-size: 10px;
    color: #f7f7f7;
    text-align: center;
    padding: 1px;
}

.area-barras {
    flex-grow: 1;
    display: flex;
}

.Division {
    height: 200px;
    width: calc(100%/9);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column
}


.Chart-Bars .Columns .Chart-Area .area-barras .Division .barra {
    width: 20%;
    background-color: #e30001;
}

.Chart-Bars .Columns .Chart-Area .area-barras .Division .Value-Bar {
    border-bottom: 1px solid #f7f7f7;
    font-size: 10px;
}

.Numbers-Y {
    height: calc((100% - -2%)/5);
    border-top: solid 1px #e30001;
    align-items: baseline;
    display: flex;
    justify-content: end;
    font-size: 11px;
    padding: 1px;
}