body {
    display: grid;
    align-items: center; 
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh; 
    margin: 0;
}


h2,
h3 {
    text-decoration: underline;
}

p {
    margin-bottom: 5px;
}

.Container-Datas {
    background-color: #f00;
    display: inline-flex;
    width: 90%;
    border-radius: 10px;
    justify-content: center;
    border: solid 5px #e30001;
    height: 30vh;
}

.Container-Personal-Data {
    Background-color: #3e3e3e;
    color: #f7f7f7;
    display: flex;
    border-right: 1px solid #f7f7f7;

}



.Icon {
    width: 25%;
    height: 30vh;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin-right: 10px;
}



.Contact {
    Background-color: #3e3e3e;
    color: #f7f7f7;
    padding-left: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 10px;
    width: 38%;
}

.Chart-Bars {
    background-color: #3e3e3e;
    width: 90%;
    color: #f7f7f7;
    border: solid 5px #e30001;
    border-radius: 10px;
    height: 30vh;
}

.Chart-Bars,
.h2 {
    text-align: center;
}

.Chart {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 95%;
    margin: auto;
}

.Chart-Bars .Chart .Scale-Y {
    width: 30px;
    color: #f7f7f7;
}

.Chart-Bars .Chart .Chart-Area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

.Scale-X {
    height: 30px;
    background-color: #3e3e3e;
    border-top: solid 1px azure;
    display: flex;
}

.Date {
    width: calc(100%/9);
    font-size: 10px;
    color: #f7f7f7;
    text-align: center;
    padding: 1px;
}

.area-barras {
    flex-grow: 1;
    display: flex;
}

.Division {
    height: 99px;
    width: calc(100%/9);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column
}


.Chart-Bars .Chart .Chart-Area .area-barras .Division .barra {
    width: 20%;
    background-color: #e30001;
}

.Chart-Bars .Chart .Chart-Area .area-barras .Division .Value-Bar {
    border-bottom: 1px solid #f7f7f7;
    font-size: 10px;
}

.Source {
    font-size: 8px;
    text-align: initial;
    margin-left: 40px;
}

.Numbers-Y {
    height: calc((100% - -2%)/5);
    border-top: solid 1px #e30001;
    align-items: baseline;
    display: flex;
    justify-content: end;
    font-size: 11px;
    padding: 1px;
}

.Table-Inflation-Rate {
    background-color: #3e3e3e;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 10px;
    width: 95%;
    border: 10px #3e3e3e solid;
    color: #f7f7f7;
    margin: auto;
}

.Container-Projection {
    text-decoration: underline;
    text-align: center;
    background-color: #3e3e3e;
    color: #f7f7f7;
    width: 90%;
    border: solid 5px #e30001;
    border-radius: 10px;
    padding-bottom: 15px;
    height: 30vh;
}

.cell {
    background-color: #e30001;
    display: flex;
    justify-content: center;
    padding: 7px;
    border-radius: 4px;
    border: solid 1px;
}