body {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    margin: auto;
}


h2,
h3 {
    text-decoration: underline;
}



.Container-Datas {
    background-color: #f00;
    display: inline-flex;
    width: 93%;
    border-radius: 10px;
    justify-content: center;
    border: solid 1.5px #e30001;
    height: 32vh;
}

.Container-Personal-Data {
    Background-color: #3e3e3e;
    color: #f7f7f7;
    display: flex;
    border-right: 1px solid #f7f7f7;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Icon-stats{
    width: 25%;
    height: 32vh;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin-right: 10px;
}

.Icon {
    width: 25%;
    height: 32vh;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin-right: 10px;
}



.Contact {
    Background-color: #3e3e3e;
    color: #f7f7f7;
    padding-left: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 10px;
    width: 38%;
}

.Chart-Bars {
    background-color: #3e3e3e;
    width: 93%;
    color: #f7f7f7;
    border: solid 1.5px #e30001;
    border-radius: 10px;
    height: 32vh;
}

.Chart-Bars,
.h2 {
    text-align: center;
}

.Chart {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 95%;
    margin: auto;
}

.Chart-Bars .Chart .Scale-Y {
    width: 30px;
    color: #f7f7f7;
}

.Chart-Bars .Chart .Chart-Area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

.Scale-X {
    height: 30px;
    background-color: #3e3e3e;
    border-top: solid 1px azure;
    display: flex;
}

.Date {
    width: calc(100%/9);
    font-size: 10px;
    color: #f7f7f7;
    text-align: center;
    padding: 1px;
}

.area-barras {
    flex-grow: 1;
    display: flex;
}

.Division {
    height: 99px;
    width: calc(100%/9);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column
}


.Chart-Bars .Chart .Chart-Area .area-barras .Division .barra {
    width: 20%;
    background-color: #e30001;
}

.Chart-Bars .Chart .Chart-Area .area-barras .Division .Value-Bar {
    border-bottom: 1px solid #f7f7f7;
    font-size: 10px;
}

.Source {
    font-size: 8px;
    text-align: initial;
    margin-left: 40px;
    margin-top: 18px;
}

.Numbers-Y {
    height: calc((100% - -9%)/5);
    border-top: solid 1px #e30001;
    align-items: baseline;
    display: flex;
    justify-content: end;
    font-size: 11px;
    padding: 1px;
}

.Table-Inflation-Rate {
    background-color: #3e3e3e;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 95%;
  margin: auto;
  gap: 2px;
  position: relative;
  top: 10px;
}

.Container-Projection {
    text-align: center;
    background-color: #3e3e3e;
    color: #f7f7f7;
    width: 93%;
    border: solid 1.5px #e30001;
    border-radius: 10px;
    padding-bottom: 15px;
    height: 32vh;
}

.cell {
    background-color: #e30001;
    border-radius: 4px;
    border: solid 1px;
    font-size: 20px;
    line-height: 2;
}